[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django-filter = "*"
channels = "*"
djangorestframework = "*"
django-livereload = "*"
dj-database-url = "*"
psycopg2 = "*"
Markdown = "*"
Django = "*"
asgi_redis = "*"
