{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% verbatim %}
    <section name="main-control ac-container" id="app">
        <form v-on:submit.prevent="submit" id="userform">
            <label for="form-name">Username:</label>
            <input v-model="name">
            <label for="form-site">Site:</label>
            <select v-model="site">
                <option>Lichess</option>
                <option>Chess.com</option>
            </select>
            <label for="form-topic">Topic to Study:</label>
            <input v-model="topic">
            <button>Send</button>
        </form>
        <header>
            <h1>Find a Partner!</h1>
        </header>
        <div>
            <player v-for="player in players" v-bind:player="player"></player>
        </div>
    </section>
{% endverbatim %}
{% endblock %}
