{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% verbatim %}
    <header>
        <h1>Find a Partner!</h1>
    </header>
    <section name="main-control ac-container" id="app">
        <div class="row text-center">
            <p>{{message}}</p>
        </div>
        <div class="row text-center">
            <p>{{message}}</p>
        </div>
        <div class="row text-center">
            <p>{{message}}</p>
        </div>
        <div class="row text-center">
            <p>{{message}}</p>
        </div>
    </section>
{% endverbatim %}
{% endblock %}
